.root {
    -fx-background-color: white;
    -fx-font-family: "Arial";
}

/* Info Pane*/
.cs-infopane {
    -fx-alignment: baseline-left;
    -fx-padding: 0 0 5 5;
    -fx-vgap: 10px;
}

/* Splitpane */
.cs-splitpane {
    -fx-padding: 10px;
    -fx-background-color: transparent;
}

.cs-splitpane .scroll-bar:horizontal {
    -fx-background-color: transparent;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: transparent;
}

.cs-splitpane .scroll-bar:vertical {
    -fx-background-color: transparent;
}

/* Tableview */
.cs-tableview .table-row-cell {
    -fx-background-color: transparent;
    -fx-table-cell-border-color: transparent;
}

.cs-tableview .table-row-cell:selected {
    -fx-background-color: #FADA6E;
    -fx-table-cell-border-color: transparent;
}

.cs-tableview .table-column {
    -fx-alignment: CENTER_LEFT;
}

.cs-tableview .column-header {
    -fx-background-color: white;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: #c8c8c8;
    -fx-border-width: 1px;
}

.cs-tableview .column-header .label {
    -fx-alignment: center-left;
    -fx-font-weight: bold;
}

.cs-tableview {
    -fx-focus-color: #c8c8c8;
    -fx-faint-focus-color: #c8c8c8;
}

/*Toolbar*/
.cs-toolbar {
    -fx-padding: 5px;
    -fx-background-color: #FCBB00;
    -fx-spacing: 5px;
}

.cs-toolbar .btn-save {
    -fx-graphic: url('/ch/fhnw/chargingstationsfx/view/icons/save-icon.png');
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.cs-toolbar .btn-save:hover {
    -fx-background-color: #FBAB0B;
    -fx-scale-y: 1.1;
}

.cs-toolbar .btn-new {
    -fx-graphic: url('/ch/fhnw/chargingstationsfx/view/icons/add-icon.png');
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.cs-toolbar .btn-new:hover {
    -fx-background-color: #FBAB0B;
    -fx-scale-y: 1.1;
}

.cs-toolbar .btn-delete {
    -fx-graphic: url('/ch/fhnw/chargingstationsfx/view/icons/delete-icon.png');
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.cs-toolbar .btn-delete:hover {
    -fx-background-color: #FBAB0B;
    -fx-scale-y: 1.1;
}

.cs-toolbar .txtf-search {
    -fx-padding: 10 5 10 25;
    -fx-background-image: url('/ch/fhnw/chargingstationsfx/view/icons/search-icon.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: 5 center;
}

/*Detailheader*/
.geo-position-view {
    -fx-effect: dropshadow(one-pass-box, #c8c8c8, 2, 2, 2, 2);
}

.lbl-loadertype {
    -fx-font-size: 24px;
}

.lbl-intro {
    -fx-font-size: 24px;
}

/*Detailpane*/
.cs-detailpane {
    -fx-padding: 10px;
    -fx-spacing: 50px;
    -fx-border-size: 1px;
    -fx-border-color: #c8c8c8;
    -fx-border-style: solid solid solid solid;
}

/*Editorpane*/
.cs-editorpane {
    -fx-hgap: 10px;
    -fx-vgap: 10px;
}

.cs-editorpane .text-field:readonly {
    -fx-background-color: transparent;
    -fx-border-style: hidden hidden hidden hidden;
}

.cs-editorpane .date-picker {
    -fx-background-color: transparent;
}

.cs-editorpane .spinner {
    -fx-background-color: transparent;
}

.cs-editorpane .text-input {
    -fx-background-color: transparent;
    -fx-border-size: 1px;
    -fx-border-color: #c8c8c8;
    -fx-border-style: hidden hidden dotted hidden;
}

/*custom control PowerStation*/
.powerstation {
    -fx-background-color: rgba(12, 12, 12, 0);
    -base-color: rgb(2, 138, 204);
    -color-grey: rgb(221, 219, 219);
    -color-lightgrey: rgba(243, 243, 243, 0.73);
    -color-blue: rgb(73, 91, 115);
    -color-red: rgb(197, 160, 157);
    -color-yellow: rgb(192, 174, 154);
    -color-green: rgb(163, 166, 96);
    -color-disabled: rgb(85, 85, 85);
}

.powerstation .frame {
    -fx-fill: -color-grey;
    -fx-border-radius: 30 3 3 3;
    -fx-background-radius: 30 3 3 3;
}

.powerstation .socket {
    -fx-fill: -color-grey;
}

.powerstation .boxTotal {
    -fx-fill: -color-lightgrey;
}

.powerstation .box1 {
    -fx-fill: -color-blue;
}

.powerstation .box2 {
    -fx-fill: -color-red;
}

.powerstation .box3 {
    -fx-fill: -color-yellow;
}

.powerstation .box4 {
    -fx-fill: -color-green;
}

.powerstation .steckertyp {
    -fx-background-color: transparent;
    -fx-fill: transparent;
    -fx-stroke-width: 0.2px;
    -fx-stroke: -color-grey;
}

.powerstation .total {
    -fx-text-alignment: center;
    -fx-font-size: 10.5px;
    -fx-font-weight: normal;
    -fx-font-style: normal;
}

.powerstation .display {
    -fx-font-family: 'Open Sans';
    -fx-font-size: 24;
    -fx-fill: derive(-base-color, 95%);
}

.powerstation .text-leistung {
    -fx-background-color: transparent;
    -fx-font-size: 5;
    -fx-pref-height: 14;
    -fx-font-family: 'Open Sans';
    -fx-text-fill: -color-lightgrey;
}